.PracticeAdvice{
    max-width: 100%;
}
.PracticeAdvice__inner{
    margin-top: 160px;
}
.PracticeAdvice__inner-infoText{
    width: 469px;
}
.box{
    width: 710px; 
    margin: 100px auto;

}

.cradscl{
    background: #252B42;

}
.block{
    width: 350px;
}
.block-inner-icon{
    font-size: 14px;
}
.orange{
    color: $orange;
}
.green{
    color: $green;
}